<h1>Welcome to PrivateEvents!</h1>
<h2>Upcoming events:</h2>
<%= render @upcoming_events %>
<h3>Join the fun today by <%= link_to "browsing all events", events_path %> or by <%= link_to "creating your own!", new_event_path %></h3>
